<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
      <h1>Vložení poznámky</h1>
      <form method="POST" action="/createNote">
        <div class="form-group">
          <label for="noteTitle">Nadpis:</label>
          <input type="text" id="noteTitle" name="noteTitle" required>
        </div>
        <div class="form-group">
          <label for="noteContent">Obsah:</label>
          <textarea id="noteContent" name="noteContent" required></textarea>
        </div>
        <div class="form-group">
          <label for="importantNote">Důležité:</label>
          <input type="checkbox" id="importantNote" name="importantNote">
        </div>
        <button type="submit">Uložit poznámku</button>
      </form>
    </div>
    
    <div class="container"> 
        <% for (let poznamka of poznamky) { %>
        <div class="todo">
            <h2 class="title"><%= poznamka.header %></h2>
            <p class="content"><%= poznamka.content %></p>
            <p class="date">Čas vytvoření: <%= new Date(poznamka.date).toLocaleString() %></p>
            <button class="remove-button">Remove</button>
            <% if (poznamka.isImportant) { %>
                <span class="important-marker">Important!</span>
              <% }%>
        </div>
        <% } %>
    </div>
  </body>
</html>